<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
          <% include partials/head.ejs %>
          <% include partials/header.ejs %>
          <h1>Home Page</h1>
        </div>
    </div>
    <% include partials/footer.ejs %>
</nav>
