<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
          <% include partials/head.ejs %>
          Welcome <%= name %>
          <div  class="pull-right" style="float:right!important"><a href="logout">Logout</a></div>
    </div><br><br>
    <% include partials/footer.ejs %>
</nav>
<script>

</script>
